@model IEnumerable<TiendaOnline.Models.CompraModels>

<h2>MIS COMPRAS</h2>

@if (!Model.Any())
{
    <p>No tienes compras aún.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Fecha</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Precio</td>
                <td>@item.Cantidad</td>
                <td>@item.FechaCompra</td>
            </tr>
        }
    </table>
}