@{
    ViewBag.Title = "Catálogo de Productos";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Tienda Online</h1>
        <p class="lead">Bienvenido a nuestra Tienda Online Punto Creativo, una marca creada con pasión para ofrecerte libros, artículos escolares y detalles que inspiran aprendizaje y creatividad. Nuestro compromiso es brindarte calidad, variedad y una atención cercana para que encuentres todo lo que necesitas en un solo lugar.</p>
        <p><a href="~/Views/Productos/Index.cshtml" class="btn btn-primary btn-md">Ir al catalogo &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Libros para colorear</h2>
            <p>
                Llene su vida con color, tenemos diferentes libros para colorear.
            </p>
            <img class="col-md-10" src="https://www.ooly.com/cdn/shop/articles/1-feature.jpg?v=1708997743&width=2048" />
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Utiles escolares</h2>
            <p>Para este regreso a clases tenemos todo lo que necesites.</p>
            <img class="col-md-10" src="https://profelandia.com/wp-content/uploads/2023/07/lista-de-utiles-escolares-2023-2024-de-la-SEP.jpeg" />
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver más &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Para las buenas noches...zZZZ!</h2>
            <p>Lamparas para los chicos y grandes, para cuando necesites un poquito de luz en medio de la oscuridad.</p>
            <img class="col-md-10" src="https://m.media-amazon.com/images/I/61N3X3pgELL.jpg" />
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver más &raquo;</a></p>
        </section>
    </div>
</main>